{% extends _layout %}

{% block content %}
<div class='page-header'>
	<h1>Create project</h1>
</div>

{{ validation_errors() }}

{{ form_open(current_url(), {'class': 'form-horizontal'}) }}
	<div class="control-group">
		{{ form_label('Name', 'name', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form_input('name', set_value('name', ''), 'id="name" class="span10"') }}
		</div>
	</div>
	<div class="control-group">
		{{ form_label('Description', 'description', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form_textarea('description', set_value('description', ''), 'id="description" rows="3" class="span10"') }}
		</div>
	</div>
	<div class="control-group">
		<div class='controls'>
			{{ form_submit('', 'Add', 'class="btn btn-primary"') }}&nbsp;<a href="<?php echo site_url('/'); ?>" class="btn">Cancel</a>
		</div>
	</div>
{{ form_close() }}
{% endblock %}