{% extends _layout %}

{% block content %}
<div class='page-header'>
	<h1>Project {{ project.name }}</h1>
</div>

{{ validation_errors() }}

{{ form_open(current_url(), {'class': 'form-horizontal'}) }}
	{{ form_hidden('id', project.id) }}
	<div class="control-group">
		{{ form_label('Name', 'name', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form_input('name', project.name, 'id="bane" class="span10"') }}
		</div>
	</div>
	<div class="control-group">
		{{ form_label('Description', 'description', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form_textarea('description', project.description, 'id="description" rows="3" class="span10"') }}
		</div>
	</div>
	<div class="control-group">
		<div class='controls'>
			{{ form_submit('', 'Update', 'class="btn btn-primary"') }}
			&nbsp;<a href="" class='btn btn-danger'>Delete</a>
			&nbsp;<a href="javascript:history.go(-1);" class="btn">Cancel</a>
		</div>
	</div>
{{ form_close() }}
{% endblock %}