{% extends _layout %}

{% block content %}
<script type="text/template" id="node_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<div class='page-header'>
	<h1>Test Specification</h1>
</div>
<div class='row'>
	<div class='span4' id='navigation_tree_panel'>
		<p>Navigation tree</p>
		<ul id="navigation_tree">
			<li id='entry-{{ active_project.id }}'>
				<a href="#expand_node?{{ active_project.id }}" class='expand_node'>{{ active_project.name }}</a>
				<ul>
			{% if navigation_tree_nodes[0] is defined %}
				{% for navigation_tree_node in navigation_tree_nodes %}
				  <li id='entry-{{ navigation_tree_node.node_id }}'><a href="javascript:get_children({{ navigation_tree_node.node_id }}, {{ navigation_tree_node.node_type_id }})">{{ navigation_tree_node.display_name }}</a>
				  	<ul></ul>
				  </li>
			<!-- li><a href="#">First link</a>
				<ul>
					<li><a href="#">First link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Second link</a></li>
					<li><a href="#">Third link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Fourth link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Fifth link</a></li>
				</ul>					
			</li>
			<li><a href="#">Second link</a>
				<ul>
					<li><a href="#">First link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Second link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Third link</a></li>
					<li><a href="#">Fourth link</a></li>
					<li><a href="#">Fifth link</a></li>
				</ul>					
			</li>
			<li><a href="#">Third link</a>
				<ul>
					<li><a href="#">First link</a></li>
					<li><a href="#">Second link</a></li>
					<li><a href="#">Third link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Fourth link</a></li>
					<li><a href="#">Fifth link</a></li>
				</ul>					
			</li>
			<li><a href="#">Fourth link</a>
				<ul>
					<li><a href="#">First link</a></li>
					<li><a href="#">Second link</a></li>
					<li><a href="#">Third link</a></li>
					<li><a href="#">Fourth link</a></li>
					<li><a href="#">Fifth link</a></li>
				</ul>					
			</li>
			<li><a href="#">Fifth link</a>
				<ul>
					<li><a href="#">First link</a></li>
					<li><a href="#">Second link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Third link</a></li>
					<li><a href="#">Fourth link</a>
						<ul>
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
							<li><a href="#">Fifth link</a></li>
						</ul>							
					</li>
					<li><a href="#">Fifth link</a></li>
				</ul>					
			</li -->
			{% endfor %}
		{% endif %}
				</ul>
			</li>
		</ul>
	</div>
	<div class="span8" id="test_specification">
		<div class='pad_l pad_r' id='nodes_panel'>
			<h4>Select a node in the navigation tree</h4>
			
			<p>Different forms or details about nodes will be displayed here.</p>
		</div>
	</div>
</div>
{% endblock %}