{% extends _layout %}

{% block content %}
<script type="text/template" id="node_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<script type="text/template" id="node_item">
<li class='node_item expand_node' id='node_item-<%= id %>'><a href='{{ site_url('specification#node') }}/<%= id %>'><%= display_name %></a></li>
</script>

<script type="text/template" id="node_project_form">
<div>
<h4>Project &mdash; <%= display_name %></h4>

<p><a href="{{ site_url('specification#node') }}/<%= id %>/show_form">Create a test suite</a></p>
{{ validation_errors() }}
<% if (show_form) { %>
{{ form_open('specification/testsuite', 'class="form-horizontal"') }}
<input type='hidden' name='project_id' value='<%= node_id %>' />
<input type='hidden' name='node_id' value='<%= id %>' />
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input type="text" id="name" name="name" placeholder="Name" />
  </div>
</div>
<div class="control-group">
  <label class='control-label' for='description'>Description</label>
  <div class="controls">
    <textarea name='description' id='description' rows="6" class="span4"></textarea>
  </div>
</div>
<div class="control-group">
  <div class='controls'>
    <input type='submit' class='btn btn-primary' value='Add' />
  </div>
</div>
{{ form_close() }}

<% } else { %>

{{ form_open('suite', 'class="form-horizontal hidden"') }}
<div class="control-group">
  <label class="control-label" for="inputPassword">Password</label>
  <div class="controls">
    <input type="password" id="inputPassword" placeholder="Password">
  </div>
</div>
{{ form_close() }}

<% } %>
</div>
</script>

<script type="text/template" id="node_test_suite_form">
<div>
<h4>Test suite &mdash; <%= display_name %></h4>

<p><a href="{{ site_url('specification#node') }}/<%= id %>/show_form">Create a test case</a></p>
</div>
</script>

<div class='page-header'>
	<h1>Test Specification</h1>
</div>
<div class='row'>
	<div class='span4' id='navigation_tree_panel'>
		<p>Navigation tree</p>
		<ul id="navigation_tree"></ul>
	</div>
	<div class="span8" id="test_specification">
		<div class='pad_l pad_r' id='nodes_panel'>
			<h4>Select a node in the navigation tree</h4>
			
			<p>Different forms or details about nodes will be displayed here.</p>
		</div>
	</div>
</div>

<script type='text/javascript'>
var templatecallback = function() {
	console.log('Firing app');
	var app = new NavigationRouter({id: '{{ active_project.id }}'});
    Backbone.history.start();
}
</script>
{% endblock %}