<div>
<h4>Test Case &mdash; {{ node.display_name }}</h4>
<hr/>
{{ validation_errors() }}
{{ form_open('specification/testsuite', 'class="form-horizontal"') }}
<h5>Name</h5>
<p>{{ testcase.name }}</p>
<h5>Description</h5>
<p>{{ testcase.description }}</p>
<h5>Execution Type</h5>
<p>{{ testcase.execution_type_id }}</p>
{{ form_close() }}
<hr/>
</div>