<div>
<h4>Test Suite &mdash; {{ node.display_name }}</h4>
<hr/>
{{ validation_errors() }}
<h5>Create a test suite</h5>
{{ form_open('specification/testsuite', 'class="form-horizontal"') }}
<input type='hidden' name='project_id' value='{{ active_project.id }}' />
<input type='hidden' name='node_id' value='{{ node.id }}' />
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input type="text" id="name" name="name" placeholder="Name" />
  </div>
</div>
<div class="control-group">
  <label class='control-label' for='description'>Description</label>
  <div class="controls">
    <textarea name='description' id='description' rows="6" class="span4"></textarea>
  </div>
</div>
<div class="control-group">
  <div class='controls'>
    <input type='submit' class='btn btn-primary' value='Add' />
  </div>
</div>
{{ form_close() }}
<hr/>
<h5>Create a test case</h5>
{{ form_open('specification/testcase', 'class="form-horizontal"') }}
<input type='hidden' name='project_id' value='{{ active_project.id }}' />
<input type='hidden' name='test_suite_id' value='{{ node.node_id }}' />
<input type='hidden' name='node_id' value='{{ node.id }}' />
<div class="control-group">
  <label class="control-label" for="test_case_name">Name</label>
  <div class="controls">
    <input type="text" id="test_case_name" name="name" placeholder="Name" />
  </div>
</div>
<div class="control-group">
  <label class='control-label' for='test_case_description'>Description</label>
  <div class="controls">
    <textarea name='description' id='test_case_description' rows="6" class="span4"></textarea>
  </div>
</div>
<div class="control-group">
  <label class='control-label' for='test_case_execution_type_id'>Execution Type</label>
  <div class="controls">
  	<select name='execution_type_id' id='test_case_execution_type_id' class='span4'>
		<option value='1'>Manual</option>
		<option value='2'>Automated</option>  	
  	</select>
  </div>
</div>
<div class="control-group">
  <div class='controls'>
    <input type='submit' class='btn btn-primary' value='Add' />
  </div>
</div>
{{ form_close() }}
</div>